* {
    font-family: 'Raleway', sans-serif;
font-family: 'Viga', sans-serif;
}
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-family: 'Viga', sans-serif;
    padding-right: 25px;
    padding-left: 25px;
}

.topnav a {
    /* flex-grow: 1; */
    padding: 21px;
    list-style: none;
    text-align: center;
    text-decoration: none !important;
    color: black;
    font-size: 21px;
    position: sticky;

}

.topnav a:hover {
    color: #9bbed1;
    transition: 0.4s;
    border-bottom: 2px solid white;
}

.topnav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    color: black;
}

.sidenav-container {
    display: none;
}

.left,
.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left {
    margin-left: 20px;
}

.right {
    align-items: center;
}

.hero-desc {
    font-size: 28px;
    margin-top: 30px;
    /* width: 53rem; */
}

#js-btn {
    border: none;
    border-radius: 9px;
    padding: 8px;
    font-size: 20px;
    margin-top: 14px;
    width: 15%;
}

#js-btn:hover {
    background: rgba(129, 202, 224, 0.753);
    transition: 0.5s;
}


.h1-sec h1,
.h3-sec h3 {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    color: black;
}

#sign-in-div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-in-div button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    /* color: #776f84;   */
}

#sign-in-div button:hover {
    color: rgb(0, 0, 0);
    transition: 0.6s;
}

.right-med-box {
    background-color: rgb(18, 9, 19);
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
}

.box-sign-in {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 17px;
    display: none;
}

.btn-submit {
    color: red;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    border: none;
}


.container {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 9px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

#ham-container.change {
    position: absolute;
    right: 25%;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background: #000;
}

.change .bar2 {
    /* opacity: 0; */
    background: #000;
    transform: rotate(45deg) translate(-5px, -6px);
}

.change .bar3 {
    opacity: 0;
    /* transform: rotate(45deg) translate(-5px, -6px); */
}

.mateo {
    color: black;
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.mateo:hover {
    color: purple;
    transition: 0.4s;
    /* border-bottom: 2px solid white; */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 5;
    /* Place above other content */
    display: none;
    /* Start hidden */
}

.parent-container {
    background: rgb(20 19 19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    width: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.item-text {
    font-size: 23px;
}

.hero-banner  {
    max-width: 100%;
    height: 38rem;
    background: black;
}

.banner-text-container {
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding-left: 17rem;
}
.banner-text-s {
    padding-top: 15px;
    color: white;
}
.banner-text {
    color: white;
    text-transform: uppercase;
}

.banner-btn-s {
    margin-top: 25px;
    border: none;
    color: black;
    border-radius: 18px;
    padding: 10px;
    width: 30%;
    background: white;
}

.banner-btn button:hover{
    background: grey;
    transition: 0.4s;
    color: white;
}


.center-coach {
    max-width: 100%;
    height: 30rem;
    background: grey;
    color: white;
}

.center-coach-text-container {
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding-left: 17rem;
}

@media screen and (max-width: 768px) {
    .topnav {
        display: none;
    }

    .hide-nav {
        display: none;
    }

    .heading-text {
        line-break: loose;
    }

    .sidenav-container {
        display: flex;
    }

    .item-text {
        font-size: 18px;
        padding-top: 5px;
    }

    .items {
        width: 89%;
        padding-top: 10px;
    }

    .footer-mat {
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .no-scroll {
        overflow: hidden;
    }

    .sidenav-mob {
        position: fixed;
        top: 0;
        left: -100%;
        /* Start offscreen */
        width: 80%;
        height: 100%;
        background-color: white;
        transition: left 0.4s ease-in-out;
        z-index: 10;
        /* Place above other content */
    }

    .sidenav-mob,
    a {
        font-family: 'Viga', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
 
    .show-nav {
        left: 0;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-top: 40px;
        /* On screen (left:0) */
    }

    .sidenav-mob::before {
        display: none;
    }

    #sign-in-div {
        width: fit-content;
        padding: 0px;
    }

    .darkmode {
        width: fit-content;
        padding: 0px;

    }

    #ham-container {
        max-width: fit-content;
        padding-top: 13px;
        padding-left: 1.5rem;
        z-index: 15;
    }

    .overlay.show {
        display: block;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: rgb(255, 255, 255);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0px;
        align-items: center;
    }

    .modal-header {
        display: flex;
        align-items: center;
    }

    .modal-body p{
        color: black;
        font-size: 18px;
    }
}


@media screen and (max-width: 390px) {
   .parent-container {
    height: 100%;
   }

}

@media screen and (max-width: 320px) {
    #ham-container.change {
        position: absolute;
        right: 10%;
    }


}

.myBtn {
    color: red;
    border: none;
    border-radius: 17px;
    width: 10%;
}

.btn-primary {
    background: rgb(143, 143, 143) !important;
}


.mpopup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 0.3rem;
}

.modal-header {
    padding: 2px 12px;
    background-color: #ffffff;
    color: #333;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-header h2 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-bottom: 14px;
}

.modal-body {
    padding: 2px 12px;
}

.modal-footer {
    padding: 1rem;
    background-color: #ffffff;
    color: #333;
    border-top: 1px solid #e9ecef;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    text-align: right;
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* add animation effects */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}